{% block button %}
    {% if item.url is not null %}
    <mj-button background-color="{{ item.buttonBackgroundColor|default }}"
               container-background-color="{{ item.backgroundColor|default }}"
               color="{{ item.color|default }}"
               padding="{{ item.padding|default }}"
               font-size="{{ item.fontSize|default }}px"
               line-height="{{ item.fontLineHeight|default }}"
               font-family="{{ item.fontFamily |default}}"
               href="{{ item.url }}" align="{{ item.align|default('center') }}">
        <table role="presentation" cellpadding="0" cellspacing="0" border="0">
            <tr>
                {% if item.icon is defined and item.icon %}
                    <td width="{{ item.iconSize|default(24) }}px" style="vertical-align:middle;">
                        {% include '@SuluMailingList/mails/components/icon/icon.mjml.twig' with {
                            item:{
                                ...item,
                                iconColor: ((item.iconColor|default) == 'inherit' or (item.iconColor|default) == null)
                                ? (item.color|default) : (item.iconColor|default)
                            }
                        }%}
                    </td>
                {% endif %}
                <td style="vertical-align: middle">
                    {{ item.label }}
                </td>
            </tr>
        </table>



    </mj-button>
    {% endif %}
{% endblock %}